@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/ProximaNova/ProximaNova-LightIt.eot");
  src: local("fonts/ProximaNova/Proxima Nova Light Italic"), local("ProximaNova-LightIt"), url("../../fonts/ProximaNova/ProximaNova-LightIt.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova/ProximaNova-LightIt.woff") format("woff"), url("../../fonts/ProximaNova/ProximaNova-LightIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/ProximaNova/ProximaNova-Extrabld.eot");
  src: local("fonts/ProximaNova/Proxima Nova Extrabold"), local("ProximaNova-Extrabld"), url("../../fonts/ProximaNova/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova/ProximaNova-Extrabld.woff") format("woff"), url("../../fonts/ProximaNova/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: local("fonts/ProximaNova/Proxima Nova Regular"), local("ProximaNova-Regular"), url("../../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/ProximaNova/ProximaNova-Semibold.eot");
  src: local("fonts/ProximaNova/Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("../../fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova/ProximaNova-Semibold.woff") format("woff"), url("../../fonts/ProximaNova/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/ProximaNova/ProximaNovaCond-Semibold.eot");
  src: local("fonts/ProximaNova/Proxima Nova Condensed Semibold"), local("ProximaNovaCond-Semibold"), url("../../fonts/ProximaNova/ProximaNovaCond-Semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova/ProximaNovaCond-Semibold.woff") format("woff"), url("../../fonts/ProximaNova/ProximaNovaCond-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/ProximaNova/ProximaNova-ThinIt.eot");
  src: local("fonts/ProximaNova/Proxima Nova Thin Italic"), local("ProximaNova-ThinIt"), url("../../fonts/ProximaNova/ProximaNova-ThinIt.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova/ProximaNova-ThinIt.woff") format("woff"), url("../../fonts/ProximaNova/ProximaNova-ThinIt.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/ProximaNova/ProximaNovaCond-Thin.eot");
  src: local("fonts/ProximaNova/Proxima Nova Condensed Thin"), local("ProximaNovaCond-Thin"), url("../../fonts/ProximaNova/ProximaNovaCond-Thin.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova/ProximaNovaCond-Thin.woff") format("woff"), url("../../fonts/ProximaNova/ProximaNovaCond-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/ProximaNova/ProximaNovaCond-RegularIt.eot");
  src: local("fonts/ProximaNova/Proxima Nova Condensed Regular Italic"), local("ProximaNovaCond-RegularIt"), url("../../fonts/ProximaNova/ProximaNovaCond-RegularIt.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova/ProximaNovaCond-RegularIt.woff") format("woff"), url("../../fonts/ProximaNova/ProximaNovaCond-RegularIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/ProximaNova/ProximaNova-SemiboldIt.eot");
  src: local("fonts/ProximaNova/Proxima Nova Semibold Italic"), local("ProximaNova-SemiboldIt"), url("../../fonts/ProximaNova/ProximaNova-SemiboldIt.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova/ProximaNova-SemiboldIt.woff") format("woff"), url("../../fonts/ProximaNova/ProximaNova-SemiboldIt.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/ProximaNova/ProximaNova-RegularIt.eot");
  src: local("fonts/ProximaNova/Proxima Nova Regular Italic"), local("ProximaNova-RegularIt"), url("../../fonts/ProximaNova/ProximaNova-RegularIt.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova/ProximaNova-RegularIt.woff") format("woff"), url("../../fonts/ProximaNova/ProximaNova-RegularIt.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/ProximaNova/ProximaNovaCond-Extrabld.eot");
  src: local("fonts/ProximaNova/Proxima Nova Condensed Extrabold"), local("ProximaNovaCond-Extrabld"), url("../../fonts/ProximaNova/ProximaNovaCond-Extrabld.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova/ProximaNovaCond-Extrabld.woff") format("woff"), url("../../fonts/ProximaNova/ProximaNovaCond-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/ProximaNova/ProximaNova-Black.eot");
  src: local("fonts/ProximaNova/Proxima Nova Black"), local("ProximaNova-Black"), url("../../fonts/ProximaNova/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova/ProximaNova-Black.woff") format("woff"), url("../../fonts/ProximaNova/ProximaNova-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/ProximaNova/ProximaNova-Bold.eot");
  src: local("fonts/ProximaNova/Proxima Nova Bold"), local("ProximaNova-Bold"), url("../../fonts/ProximaNova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"), url("../../fonts/ProximaNova/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/ProximaNova/ProximaNovaT-Thin.eot");
  src: local("fonts/ProximaNova/Proxima Nova Thin"), local("ProximaNovaT-Thin"), url("../../fonts/ProximaNova/ProximaNovaT-Thin.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova/ProximaNovaT-Thin.woff") format("woff"), url("../../fonts/ProximaNova/ProximaNovaT-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/ProximaNova/ProximaNova-BoldIt.eot");
  src: local("fonts/ProximaNova/Proxima Nova Bold Italic"), local("ProximaNova-BoldIt"), url("../../fonts/ProximaNova/ProximaNova-BoldIt.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova/ProximaNova-BoldIt.woff") format("woff"), url("../../fonts/ProximaNova/ProximaNova-BoldIt.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/ProximaNova/ProximaNova-ExtrabldIt.eot");
  src: local("fonts/ProximaNova/Proxima Nova Extrabold Italic"), local("ProximaNova-ExtrabldIt"), url("../../fonts/ProximaNova/ProximaNova-ExtrabldIt.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova/ProximaNova-ExtrabldIt.woff") format("woff"), url("../../fonts/ProximaNova/ProximaNova-ExtrabldIt.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/ProximaNova/ProximaNova-Light.eot");
  src: local("fonts/ProximaNova/Proxima Nova Light"), local("ProximaNova-Light"), url("../../fonts/ProximaNova/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova/ProximaNova-Light.woff") format("woff"), url("../../fonts/ProximaNova/ProximaNova-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/ProximaNova/ProximaNova-BlackIt.eot");
  src: local("fonts/ProximaNova/Proxima Nova Black Italic"), local("ProximaNova-BlackIt"), url("../../fonts/ProximaNova/ProximaNova-BlackIt.eot?#iefix") format("embedded-opentype"), url("../../fonts/ProximaNova/ProximaNova-BlackIt.woff") format("woff"), url("../../fonts/ProximaNova/ProximaNova-BlackIt.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }
